[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
django = "~=3.1.7"
djangorestframework = "~=3.12"
djangorestframework-api-key = "==2.0.0"
djangorestframework-simplejwt = "==5.2.2"
django-ipware = "*"
django-environ = "*"
drf_yasg = "*"
django-cors-headers = "*"
flake8 = "*"
gunicorn = "==20.1.0"  # https://github.com/benoitc/gunicorn
pre-commit = "*"
psycopg2 = "==2.9.2"  # https://github.com/psycopg/psycopg2
pycryptodome = "*"

[dev-packages]
django_debug_toolbar= ">=2.2"

[requires]
python_version = "3.8"
